@import url("aos.css")
a{
    text-decoration: none;
}
html{
    background-color: black;
    z-index: -1;
    color: white;
    background-image: linear-gradient(to right,blue,purple);
    background-size: cover;
}
body{
    text-align: center;
    left: 50%;
    background: rgba(255, 255, 255, 0.3);
    margin: 0px 10% 0px 10%;
    padding: 10px;
    border-radius: 20px;
}
.pagec{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
*{
    color: white;
}
.part:hover .part{
    display: block;
}
#up{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-image: linear-gradient(to right,blue,purple);
    background-size: cover;
    box-shadow: 0px 0px 8px white;
    height: 5%;
    color: black;
    padding: 10px 5px 10px 5px;
    z-index: 90;
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
    animation: ftophide 0.5s;
    -webkit-animation: ftophide 0.5s;
    color: white;
}
#up:hover{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    animation: tophide 0.5s;
    -webkit-animation: tophide 0.5s;
}
@keyframes tophide{
    from{
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
    }
    to{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes tophide{
    from{
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
    }
    to{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
@keyframes ftophide{
    from{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    to{
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
    }
}
@-webkit-keyframes ftophide{
    from{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    to{
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
    }
}
#up *{
    display: inline-block;
    color: white;
    padding: 10px 5px 10px 5px;
    
}
#up .a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    animation: toblue 0.5s;
    -webkit-animation: toblue 0.5s;
}
#up .a:focus{
    animation: upqd 1s;
}
.title.large{
    font-size: 50px;
}
.title.middle{
    font-size: 35px;
}
.title.small{
    font-size: 20px;
}
.title{
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
}
.full{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.title:hover {
    box-shadow: 0px 0px 8px white;
    animation: shadow 0.5s;
    -webkit-animation: shadow 0.5s;
}
.hide{
    display: none;
}
@keyframes shadow{
    from{
        box-shadow: none
    }
    to{
        box-shadow: 0px 0px 8px white;
    }
}
@-webkit-keyframes shadow{
    from{
        box-shadow: none
    }
    to{
        box-shadow: 0px 0px 8px white;
    }
}
.but{
    width: auto;
    padding: 10px;
    border: rgba(255, 255, 255, 0.3) solid;
    border-radius: 10px;
    display: inline-block;
}
.but:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    animation: all_blue 0.5s;
    -webkit-animation: all_blue 0.5s;
}
.but:focus{
    animation: upqd 1s;
    -webkit-animation: upqd 1s;
}
.part{
    box-shadow: 0px 0px 15px white;
    animation: hrg 2s;
    -webkit-animation: hrg 2s;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    margin: 10px;
    color: black;
    text-align: left;
}
.childpart{
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 15px white;
    animation: hrg 2s;
    -webkit-animation: hrg 2s;
    margin: 10px;
    color: black;
    text-align: left;
}
.childpart:hover{
    box-shadow: white 0px 0px 30px;
    animation: tow 0.5s;
    -webkit-animation: tow 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}
@keyframes tow{
    from{
        box-shadow: 0px 0px 15px white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    to{
        box-shadow: white 0px 0px 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}
@-webkit-keyframes tow{
    from{
        box-shadow: 0px 0px 15px white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    to{
        box-shadow: white 0px 0px 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}
.line-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.part.two{
    width: 40%;
}
.part.three{
    width: 30%;
}
.part.four{
    width: 20%;
}
.part *{
    color: black;
}
.part.center{
    text-align: center;
}
@keyframes hrg{
    1%{
        transform: translateX(-0%);
        opacity: 1;
    }
    70%{
        transform: translateX(-5%);
        opacity: 0.3;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes hrg{
    1%{
        transform: translateX(-0%);
        opacity: 1;
    }
    70%{
        transform: translateX(-5%);
        opacity: 0.3;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes all_blue{
    from{
        color: black;
        background-color: transparent;
    }
    to{
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
}
@-webkit-keyframes all_blue{
    from{
        color: black;
        background-color: transparent;
    }
    to{
        color: white;
        background-color:rgba(255, 255, 255, 0.3);
    }
}
@keyframes upqd{
    1%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    40%{
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    60%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    90%{
        transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes upqd{
    1%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    40%{
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    60%{
        transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
@keyframes toblue{
    from{
        background-color: transparent;
    }
    to{
        background-color: rgba(255, 255, 255, 0.3);
    }
}
@-webkit-keyframes toblue{
    from{
        background-color: transparent;
    }
    to{
        background-color: rgba(255, 255, 255, 0.3);
    }
}
.item{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    color: black;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
.item:hover{
    box-shadow: 0px 0px 8px white;
    animation: shadow 0.5s;
    -webkit-animation: shadow 0.5s;
}
@keyframes clof{
    from{
        background: rgba(255, 255, 255, 0.6);
        color: black;
    }
    to{
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
}
@-webkit-keyframes clof{
    from{
        background: rgba(255, 255, 255, 0.6);
        color: black;
    }
    to{
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
}
@keyframes fclof{
    from{

        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
    to{
        background: rgba(255, 255, 255, 0.6);
        color: black;
    }
}
@-webkit-keyframes fclof{
    from{

        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
    to{
        background: rgba(255, 255, 255, 0.6);
        color: black;
    }
}